*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-self;
    color: white;
}

/* start navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px;
    background-color: gray;
}
.image{
    animation: navmove 5s linear infinite;
}
@keyframes navmove {
    0%{transform: scale(0.8);}
    50%{transform: scale(0.9);}
    100%{transform: scale(0.8);}   
}
.image span{
    
    font-weight: bold;
    margin-left: 10px;
}
.navbar img{
    width: 60px;
}
.navbar .image{
    display: flex;
}
.navbar .image span{
    color: orange;
}

.navbar ul li{
    display: inline-block;
    padding:0px 0px 0px 10px;  
}
.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 3s;
}
.navbar .nav a:hover{
    padding:2px;
    text-decoration: underline;
    transform:scale(1.5);
}


.navbar .social-media img{  
    width: 25px;
    margin-left: 10px;
    transition: 0.2s;
}
.navbar .social-media img:hover{
    transform: scale(1.4);
}



/* end navbar */

/* start main */
.main{
    padding-left: 50px;
    font-size: 20px; 
    padding-top:200px
    
}

.main h1 {
    margin-bottom:20px;
    animation: movetext 5s linear infinite;
}
.main-btn{
    margin-top:15px;
    display: flex;
    
}

.main-btn p span{
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 8px 10px rgba(240, 238, 238, 0.986);
    background-color: darkorange;
}
.main-btn  p{
    padding: 10px;
    padding-left: 40px;
}


/* end main */
/* start footer */
.footer{
    background-color: darkorange;
    text-align: center;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* end footer */
/* start bg */
.main{
background: url("./assets/bg3.jpg")no-repeat center;
background-size:cover;
width: 100%;
height: 82vh;

}
.main::before{
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/* end bg */

/* start services */
.services{
    color: black;
}
.services h1{
  margin: 7%;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  width: fit-content;
  padding: 13px;
  margin-left: 40%;
}
.services-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 5%;
}

.card {
  padding: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  border-radius: 16px;
  text-align: center;
  color: black;
  font-size: 18px;  
  width: fit-content;
}

/* end services */

/* start about */
.about{
    color: black;
    padding-top: 10px;
}
.about h1{
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 10px;
    width: fit-content;
    margin-left: 700px;

    
}
.about h2{
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1.2;
}
.section1{
    padding-left: 200px;
    margin: 2%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 20px;
    width: fit-content;
}
.section2{
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 20px;
    width: fit-content;
    margin-left: 700px;
}
.section2 h2{
    justify-items: start;
}
.section3{
    list-style: none;
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 10px;
    width: fit-content;
    
}
.section3 ul li{
    list-style: none;
}
/* end about */

/* ..start university */

.univers{
    color: black;
}
.univers h1{
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 5px;
    padding: 13px;
    width: fit-content;
    margin: 7%;
    margin-left: 35%;

}
.university{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin: 3%;
}
.university ul li{
    list-style: none;
    font-size: 15px;
    line-height: 1.2;

}
.university1{
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 20px;
}
.university2{
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 16px;
    padding: 20px;
}
.university h2{
    margin-bottom: 7px;
}
/* end university */

/* start contacts */
.contacts{
    color: black;
    display: flex;
    gap: 15%;
    margin: 8%;
    margin-left: 7%;

}
.contact-number{
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    padding: 20px;
    width: 50%;
    height: 40vh;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
.contact-number h1 {
    padding-bottom: 15px;
}
.contact-form{
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    padding: 20px;
    width: 50%;
    height: 57vh;
    text-align: center;
    padding-top: 35px;
}
.contact-form input{
    border-radius: 16px;
    padding: 5px;
    width: 60%;
    color:black;
    border: 1px solid darkgray;
    outline: none;

}
.contact-form input:focus{
    box-shadow: 0 0 7px darkgray;
}
.contact-form textarea{
    border-radius: 10px;
    padding: 3px;
    width: 60%;
    padding-bottom: 60px;
    color:black;
    border: 1px solid darkgray;
    outline: none;
}
.contact-form textarea:focus{
    box-shadow: 0 0 7px darkgray;
}
.contact-form button{
    border-radius: 3px 10px;
    padding: 5px 7px;
    color:black;
    border: 1px solid darkgray;
    outline: none;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: gray;
    color: white;
    transition: all 0.3s ease-in-out;
}
/* end contacts */